.card
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 6px;

    background-color: #e7f1f596;
    font-weight: 600;

    border: #BDBDBD solid 1px;
    border-radius: 12px;

    padding: 16px;
    box-shadow: 4px 5px 15px -2px rgba(0,0,0,0.74);

    height: 250px;
}


.title {text-align: center; margin : 0; color: white; font-size: 2em;}

.image {  box-shadow: 4px 5px 15px -2px rgba(0,0,0,0.74); border-radius: 6px; }

.fullname { font-size: 24px; font-weight: bold; }

.button
{
    cursor: pointer;

    background: blue;
    border : none;
    border-radius: 8px;
    box-shadow: 4px 5px 15px -2px rgba(0,0,0,0.74);

    padding : 8px 12px ;

    color : white;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;

}
.rank { color : red; font-weight : 600; }

.sex { font-weight: 600; }
.male { color :dodgerblue ; }
.female { color : hotpink; }