.cards
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-top: 32px;
}

.title {text-align: center; margin : 0; color: white; font-size: 2em;}
